/* Fonts & colors*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.color-primary-0 {
  color: #5f9da0;
} /* Main Primary color */
.color-primary-1 {
  color: #c9e5e7;
}
.color-primary-2 {
  color: #93c5c7;
}
.color-primary-3 {
  color: #3c8386;
}
.color-primary-4 {
  color: #226c70;
}

/* Styling */
html {
  background-image: linear-gradient(#5f9da0, white);
  background-repeat: no-repeat;
}

body{
  padding: 0;
  margin:0;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 15vw;
  font-size: 20vh;
  text-align: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 5vw;
  font-size: 7vh;
  text-align: center;
}

p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 18pt;
}

.container {
  width: 48%;
  height: auto;
  background-color: #93c5c7;
  border-radius: 15px;
  margin-left: 20px;
  display: inline-block;
}

.contact-container{
  width: 100%;
  height: auto;
  background-color: #226c70;
  display: inline-block;
  margin-top: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

img {
  margin-top: 40px;
  max-width: 100%;
  max-height: 100%;
}

#projecttext {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15pt;
}

#githublogo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: block;
}

ul{
  display: inline-flex;
  list-style-type: none;
}

li{
display:inline-flex;
}

a#contact{
  font-size: 30pt;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-inline: 20vw;
}

a#contact:hover{
  transition: ease-in-out 200ms;
  color:white;
}

