/* Fonts & colors*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.color-primary-0 {
  color: #5f9da0;
} /* Main Primary color */
.color-primary-1 {
  color: #c9e5e7;
}
.color-primary-2 {
  color: #93c5c7;
}
.color-primary-3 {
  color: #3c8386;
}
.color-primary-4 {
  color: #226c70;
}

/* Styling */
html {
  background-image: linear-gradient(#5f9da0, white);
  background-repeat: no-repeat;
}

body{
  padding: 0;
  margin:0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 10vw;
  font-size: 15vh;
  text-align: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 5vw;
  font-size: 7vh;
  text-align: center;
}

p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 18pt;
}

.container {
  width: 45vw;
  height: auto;
  background-color: #93c5c7;
  border-radius: 15px;
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 4vh;
  margin-inline-start: 3vw;
}

.contact-container{
  width: 100%;
  height: auto;
  background-color: #226c70;
  display: inline-block;
  margin-top: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow-x: hidden;
  text-align: center;
}

.nav-container{
  width: 100%;
  height: auto;
  background-color: #226c70;
  display: inline-block;
  top: 0;
  margin-bottom: 30px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: sticky;
  overflow-x: hidden;
}


img {
  margin-top: 40px;
  max-width: 100%;
  max-height: 100%;
}

#projecttext {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15pt;
}

#githublogo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: block;
}

ul{
  display: inline-flex;
  list-style-type: none;
}

li{
display:inline-flex;
}

a#contact{
  font-size: 3vi;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-inline-start: 18vw;
  margin-inline-end: 18vw;
}

a#contact:hover{
  transition: ease-in-out 200ms;
  color:white;
}

a#contact:visited{
  color: white;
}

hr{
  width: 70vw;
  color: black;
  border-style: solid;
}

table, th, td{
  width: 100%;
  border: 1px solid black;
  border-style: groove;
  border-collapse: collapse;
}

th{
  font-size: 23pt;
  font-family: "poppins", sans-serif;
}

td{
  font-size: 18pt;
  font-family: "poppins", sans-serif;
}

.column{
  width: 50%;
  text-align: center;
}

#navtext{
  font-size: 3vi;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-inline-start: 18vw;
  margin-inline-end: 18vw;
}

a#navtext:hover{
  transition: ease-in-out 200ms;
  color:white;
}
